{% extends "base.html.twig" %}
{% block title %}Patenaires{% endblock %}
{% block content %}
    <div class="container">
    {% if error==2 %}
        <div class="alert alert-danger" role="alert">Le lien d'un partenaire doit être une chaîne de caractères</div>
    {% elseif error==0 %}
        <div class="alert alert-danger" role="alert">Une erreur s'est produite lors de l'insertion dans la base de données</div>
    {% elseif error==8 %}
        <div class="alert alert-danger" role="alert">Le format du lien du partenaire est invalide</div>
    {% elseif error==4 %}
        <div class="alert alert-danger" role="alert">L'extension n'est pas valide</div>
    {% elseif error==5 %}
        <div class="alert alert-danger" role="alert">La taille de l'image est trop élevé</div>
    {% elseif error==6 %}
        <div class="alert alert-danger" role="alert">Le poids de l'image est trop élevé</div>
    {% endif %}
        <div class="text-center">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#form" aria-expanded="false">Ajouter un partenaire</button>
        </div>
        <br />
        <div class="collapse" id="form">
            <div class="well">
                <h2 class="text-center">Ajouter un partenaire</h2>
                <hr/>
                <form method="POST" action="../../../../admin/admin.php?page=addPartner" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="url">Lien du partenaire</label>
                        <input type="text" class="form-control" id="url" name="url" placeholder="Entrez le lien du partenaire" required>
                    </div>
                    <div class="form-group">
                        <label for="type">Catégorie du partenaire</label>
                        <select  class="form-control" id="type" name="type" required>
                            <option value="institutionnels">Institutionnel</option>
                            <option value="culturel">Culturel</option>
                            <option value="média">Média</option>
                            <option value="privé">Privé</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="img">Photo du partenaire</label>
                        <input type="file" id="img" name="img" required>
                        {% include 'imgInfo.html.twig' %}
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="footer" value="1">Partenaire présent dans le bas de page
                        </label>
                    </div>
                    <div class="text-center">
                        <input type="submit" name="submit" class="btn btn-primary" value="Créer">
                    </div>
                </form>
            </div>
        </div>
        <br />
        <h2 class="text-center">Liste des partenaires</h2>
        <hr />
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Lien</th>
                <th>Type</th>
                <th>Présent en bas de page</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {%  for partner in partners %}
                <tr>
                    <th scope="row">{{ partner.id }}</th>
                    <td>{{ partner.url }}</td>
                    <td>{{ partner.type|title }}</td>
                    <td>
                        {% if partner.footer==1 %}
                            Oui
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                    <td><img src="../../../../web/img/partner/{{ partner.imgPartner }}" alt="Image du Partenaire" class="img-list"></td>
                    <td>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete{{ partner.id }}"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
                <div class="modal fade" id="delete{{ partner.id }}" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Supprimer un Partenaire</h4>
                            </div>
                            <div class="modal-body">
                                Êtes-vous sûr de vouloir supprimer ce partenaire ?
                            </div>
                            <div class="modal-footer">
                                <form method="POST" action="../../../../admin/admin.php?page=deletePartner">
                                    <input type="hidden" name="id" value="{{ partner.id }}">
                                    <input type="submit" name="submit" class="btn btn-danger" value="Oui">
                                </form>
                                <button class="btn btn-default" data-dismiss="modal">Non</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}