{% extends "base.html.twig" %}
{% block title %}Programmation{% endblock %}
{% block content %}
    <div class="container">
        {% include 'error.html.twig' %}
        <div class="text-center">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#form" aria-expanded="false">Ajouter un artiste</button>
        </div>
        <br />
        <div class="collapse" id="form">
            <div class="well">
                <h2 class="text-center">Ajouter un Artiste</h2>
                <hr />
                {% include 'formInfo.html.twig' %}
                <form method="POST" action="admin.php?page=addArtist" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="title">Nom de l'artiste <span class="red">*</span></label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Entrez le nom de l'artiste" required>
                    </div>
                    <div class="form-group">
                        <label for="text">Description de l'artiste <span class="red">*</span></label>
                        <textarea class="form-control textarea" name="content" id="content" placeholder="Entrez la description de l'artiste" rows="10" required></textarea>
                    </div>
                    <div class="form-group">
                        <label for="img">Photo de l'artiste <span class="red">*</span></label>
                        <input type="file" id="img" name="img" required>
                        {% include 'imgInfo.html.twig' %}
                    </div>
                    <div class="form-group">
                        <label for="tags">Tags de l'artiste</label>
                        <input type="text" class="form-control" id="tags" name="tags" placeholder="Entrez les tags de l'artistes sous la forme tag1, tag2, tag3">
                    </div>
                    <div class="form-group">
                        <label for="url">Lien de la vidéo</label>
                        <input type="text" class="form-control" id="url" name="video_url" placeholder="Entrez le lien de la vidéo (le lien doit débuter par http://)">
                    </div>
                    <div class="form-group">
                        <label for="url">Lien Facebook</label>
                        <input type="text" class="form-control" id="url" name="facebook_url" placeholder="Entrez le lien Facebook (le lien doit débuter par http://)">
                    </div>
                    <div class="form-group">
                        <label for="url">Lien Youtube</label>
                        <input type="text" class="form-control" id="url" name="youtube_url" placeholder="Entrez le lien Youtube (le lien doit débuter par http://)">
                    </div>
                    <div class="form-group">
                        <label for="url">Lien Twitter</label>
                        <input type="text" class="form-control" id="url" name="twitter_url" placeholder="Entrez le lien Twitter (le lien doit débuter par http://)">
                    </div>
                    <div class="form-group">
                        <label for="url">Lien Spotify</label>
                        <input type="text" class="form-control" id="url" name="spotify_url" placeholder="Entrez le lien Spotify (le lien doit débuter par http://)">
                    </div>
                    <div class="form-group">
                        <p><strong>Groupe Local <span class="red">*</span></strong></p>
                        <label for="local-1">Oui</label>
                        <input type="radio" name="local" value="1" id="local-1" checked><br>
                        <label for="local-0">Non</label>
                        <input type="radio" name="local" value="0" id="local-0"><br>
                    </div>
                    <div class="text-center">
                        <input type="submit" name="submit" class="btn btn-primary" value="Créer">
                    </div>
                </form>

            </div>
        </div>
        <br />
        <h2 class="text-center">Liste des Artistes</h2>
        <hr />
        <table class="table table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Nom</th>
                <!--<th>Description</th>-->
                <th>Image</th>
                {#<th>Vidéo</th>#}
                {#<th>Facebook</th>#}
                {#<th>Youtube</th>#}
                {#<th>Twitter</th>#}
                {#<th>Spotify</th>#}
                <th>Local</th>
            </tr>
            </thead>
            <tbody>
            {%  for artist in artists %}
                <tr>
                    <th scope="row">{{ artist.id }}</th>
                    <td>{{ artist.name }}</td>
                    {#<td>{{ artist.bio }}</td>#}
                    <td><img src="../web/img/artist/{{ artist.img_artist }}" alt="Image de l'artiste" class="img-list"></td>
                    <td>
                        {% if artist.local==1 %}
                            Oui
                        {% else %}
                            Non
                        {% endif %}
                    </td>
                    <td>
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#edit{{ artist.id }}"><i class="fa fa-pencil"></i></button>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete{{ artist.id }}"><i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
                <div class="modal fade" id="edit{{ artist.id }}" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Modifier un Artiste</h4>
                            </div>
                            {% include 'formInfo.html.twig' %}
                            <form method="POST" action="admin.php?page=updateArtist" enctype="multipart/form-data">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="title">Nom de l'artiste <span class="red">*</span></label>
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Entrez le nom de l'artiste" value="{{ artist.name }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="content">Description de l'artiste <span class="red">*</span></label>
                                        <textarea class="form-control textarea" name="content" id="content" placeholder="Entrez la description de l'artiste" rows="10">{{ artist.bio }}</textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="tags">Tags de l'artiste</label>
                                        <input type="text" class="form-control" id="tags" name="tags" placeholder="Entrez les tags de l'artistes sous la forme tag1, tag2, tag3" value="{{ artist.tags|join(', ') }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="img">Photo de l'artiste <span class="red">*</span></label>
                                        <input type="file" id="img" name="img">
                                        {% include 'imgInfo.html.twig' %}
                                    </div>
                                    <div class="form-group">
                                        <label for="url">Lien de la vidéo</label>
                                        <input type="text" class="form-control" id="url" name="video_url" placeholder="Entrez le lien de la vidéo (le lien doit débuter par http://)" value="{{ artist.video_url }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="url">Lien Facebook</label>
                                        <input type="text" class="form-control" id="url" name="facebook_url" placeholder="Entrez le lien Facebook (le lien doit débuter par http://)" value="{{ artist.facebook_url }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="url">Lien Youtube</label>
                                        <input type="text" class="form-control" id="url" name="youtube_url" placeholder="Entrez le lien Youtube (le lien doit débuter par http://)" value="{{ artist.youtube_url}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="url">Lien Twitter</label>
                                        <input type="text" class="form-control" id="url" name="twitter_url" placeholder="Entrez le lien Twitter (le lien doit débuter par http://)" value="{{ artist.twitter_url }}">
                                    </div>
                                    <div class="form-group">
                                        <label for="url">Lien Spotify</label>
                                        <input type="text" class="form-control" id="url" name="spotify_url" placeholder="Entrez le lien Spotify (le lien doit débuter par http://)" value="{{ artist.spotify_url }}">
                                    </div>
                                    <div class="form-group">
                                        <p><strong>Groupe Local <span class="red">*</span></strong></p>
                                        <label for="local-1">Oui</label>
                                        <input type="radio" name="local" value="1" id="local-1" checked><br>
                                        <label for="local-0">Non</label>
                                        <input type="radio" name="local" value="0" id="local-0"><br>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <input type="hidden" name="id" value="{{ artist.id }}">
                                    <input type="submit" name="submit" class="btn btn-primary" value="Modifier">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="delete{{ artist.id }}" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title" id="myModalLabel">Supprimer un Artiste</h4>
                            </div>
                            <div class="modal-body">
                                Êtes-vous sûr de vouloir supprimer l'artiste{{ artist.name }} ?
                            </div>
                            <div class="modal-footer">
                                <form method="POST" action="admin.php?page=deleteArtist">
                                    <input type="hidden" name="id" value="{{ artist.id }}">
                                    <input type="submit" name="submit" class="btn btn-danger" value="Oui">
                                </form>
                                <button class="btn btn-default" data-dismiss="modal">Non</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}