{% extends "base.html.twig" %}
{% block title %}Hop Pop Hop{% endblock %}
{% block titleMobile %}{% endblock %}
{% block content %}
    <div class="container text-center">
        <div class="row">
            {%  for news in newsBreaking %}
                <div class="alert alert-warning alert-danger breaking-news" role="alert">
                    <button type="button" class="close breaking-close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <a href="/newsOne/{{ news.id }}" class="breaking-strong">{{ news.title }}</a><br />
                    <p class="breaking-text">{{ news.text }}</p>
                </div>
            {% endfor %}
            <div class="col-xs-6 col-xs-offset-3">
                <img src="../../../img/global/logo-only.png" alt="Logo du Festival" class="img-responsive logo-big">
            </div>
            <h2 class="separator-title font-dokyo"><a href="/programmation" class="white font-dokyo">PROGRAMMATION</a></h2>
            <hr class="hr">
            <div class="separator-div text-justify home-progDiv">
                {%  for artist in artists  %}
                    {% if loop.index%2 == 0 and loop.index<artists|length %}
                        <p class="home-prog"><a href="/artist/{{ artist.slug }}" class="home-link link-orange font-circula">{{ artist.name }}</a> <span class="orange">/</span></p>
                    {% elseif loop.index%2 != 0 and loop.index<artists|length %}
                        <p class="home-prog"><a href="/artist/{{ artist.slug }}" class="home-link link-turquoise font-circula">{{ artist.name }}</a> <span class="turquoise">/</span></p>
                    {% elseif loop.index%2 != 0 %}
                        <p class="home-prog"><a href="/artist/{{ artist.slug }}" class="home-link link-turquoise font-circula">{{ artist.name }}</a></p>
                    {% else %}
                        <p class="home-prog"><a href="/artist/{{ artist.slug }}" class="home-link link-orange font-circula">{{ artist.name }}</a></p>
                    {% endif %}
                {% endfor %}
            </div>
            <h2 class="separator-title font-dokyo">BILLETTERIE</h2>
            <hr class="hr">
            <div class="separator-div home-ticket">
                <div class="container-fluid">
                    <div class="row ticket hidden-xs hidden-sm">
                        <div class="col-md-offset-2 col-md-8 hidden-xs hidden-sm col-ticket span-ticket">
                            <a href="/ticket">
                                <div class="panneau col-ticket">
                                    <span class="left-text font-bebas">RESERVEZ VOTRE</span>
                                    <span class="right-text font-bebas">PASS</span>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="row visible-sm visible-xs">
                        <div class="col-md-12">
                            <h3 class="font-circula"><i class="fa fa-ticket" aria-hidden="true"></i> Pass 1 Journée ou 2 Jours disponibles</h3>
                            <a href="/ticket" class="btn btn-default">Accéder à la Billetterie</a>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="separator-title font-dokyo">ACTUALITES</h2>
            <hr class="hr">
            <div class="separator-div">
                <div class="container-fluid">
                    <div class="row">
                        {%  for news in newsAll %}
                            <div class="col-xs-12 col-xs-offset-0 col-sm-4">
                                <div class="content-div text-justify ">
                                    <div class="text-center">
                                        <img src="../../../img/news/{{ news.imgNews }}" class="img-responsive">
                                    </div>
                                    <a href="/newsOne/{{ news.id }}" class="news-link"><h3 class="font-circula">{{ news.title }}</h3></a>
                                    <hr class="hr">
                                    <p>{{ news.text }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <a href="/news" class="btn btn-default contact-btn">Voir plus d'actualités</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}