{% extends "base.html.twig" %}
{% block title %}Partenaires{% endblock %}
{% block titleMobile %}SPONSORS{% endblock %}
{% block content %}
    <div class="container">
        <h2 class="text-center white font-circula">Partenaires Culturels</h2>
        <div class="row">
            {%  for partenaire in partenaires %}
                {% if partenaire.type == 'culturel' %}
                    <div class="col-md-4 col-xs-4">
                        <a href="{{ partenaire.url }}" class="thumbnail thumbnail-div partnair-logo">
                            <img src="../../../img/partner/{{ partenaire.imgPartner }}" class="img-responsive">
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <hr class="hr">
        <h2 class="text-center white font-circula">Partenaires Institutionnels</h2>
        <div class="row">
            {%  for partenaire in partenaires %}
                {% if partenaire.type == 'institutionnels' %}
                    <div class="col-md-4 col-xs-4">
                        <a href="{{ partenaire.url }}" class="thumbnail thumbnail-div partnair-logo">
                            <img src="../../../img/partner/{{ partenaire.imgPartner }}" class="img-responsive">
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <hr class="hr">
        <h2 class="text-center white font-circula">Partenaires Médiatiques</h2>
        <div class="row">
            {%  for partenaire in partenaires %}
                {% if partenaire.type == 'média' %}
                    <div class="col-md-4 col-xs-4">
                        <a href="{{ partenaire.url }}" class="thumbnail thumbnail-div partnair-logo">
                            <img src="../../../img/partner/{{ partenaire.imgPartner }}" class="img-responsive">
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <hr class="hr">
        <h2 class="text-center white font-circula">Partenaires Privés</h2>
        <div class="row">
            {%  for partenaire in partenaires %}
                {% if partenaire.type == 'privé' %}
                    <div class="col-md-4 col-xs-4">
                        <a href="{{ partenaire.url }}" class="thumbnail thumbnail-div partnair-logo">
                            <img src="../../../img/partner/{{ partenaire.imgPartner }}" class="img-responsive">
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <hr class="hr">
        <div class="text-center">
            <a href="/contact"><button class="btn btn-primary partnair-btn">Devenez Partenaire</button></a>
        </div>
    </div>
{% endblock %}