{% extends "base.html.twig" %}
{% block title %}Planning{% endblock %}
{% block titleMobile %}PLANNING{% endblock %}
{% block content %}
    <div class="container text-center">

        <h2 class="separator-title hidden-sm hidden-xs font-dokyo">VENDREDI</h2>
        <hr class="hr hidden-xs hidden-sm">
        <div class="row hidden-sm hidden-xs ">
            {% for lieu, progHeure in prog.VENDREDI %}
                <div class="col-md-2 hidden-sm hidden-xs">
                    <h3 class="planning-location font-circula">{{ lieu }}</h3>
                </div>
            {% endfor %}
        </div>
        <div class="row hidden-sm hidden-xs ">
            {% for lieu, progLieu in prog.VENDREDI %}
                <div class="col-md-2 hidden-sm hidden-xs">
                    {% for heure, values in progLieu %}
                        <div class=" hidden-sm hidden-xs col-lieu">
                            <a href="../../../../index.php?page=artist&id={{ values.artiste.id }}">
                            <div class="planning-show font-default {% if values.concert.status == 'canceled' %}planning-cancel{%endif%}"><p class="artist">{{ values.artiste.name }}<br/><span class="{% if values.concert.status == 'canceled' %}cancel-hidden{% endif %}">{{ heure }}</span></p>
                                {% if values.concert.status == 'canceled' %}
                                    <p class="plan-cancel font-dokyo">Annulé</p>
                                {% endif %}
                            </div><br/>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>

        {% if progShow is not empty %}
        <h2 class="separator-title hidden-sm hidden-xs font-dokyo">SHOWCASES DU SAMEDI</h2>
        <hr class="hr hidden-xs hidden-sm">
        <div class="row hidden-sm hidden-xs ">
            {% for lieu, progLieu in progShow %}
                <div class="col-md-2 hidden-sm hidden-xs">
                    <h3 class="planning-location font-circula">{{ lieu }}</h3>
                </div>
            {% endfor %}
        </div>
        <div class="row hidden-sm hidden-xs ">
            {% for lieu, progLieu in progShow %}
                <div class="col-md-2 hidden-sm hidden-xs col-lieu">
                {% for heure,values in progLieu %}
                        <div class=" hidden-sm hidden-xs">
                            <a href="../../../../index.php?page=artist&id={{ values.artiste.id }}">
                            <div class="planning-show show-blue font-default {% if values.showcase.status == 'canceled' %}planning-cancel{%endif%}"><p class="artist">{{ values.artiste.name }}<br/><span class="{% if values.showcase.status == 'canceled' %}cancel-hidden{% endif %}">{{ heure }}</span></p>
                                {% if values.showcase.status == 'canceled' %}
                                    <p class="plan-cancel font-dokyo">Annulé</p>
                                {% endif %}
                            </div><br/>
                        </div>

                {% endfor %}
                </div>
            {% endfor %}
        </div>
        {% endif %}

        <h2 class="separator-title hidden-sm hidden-xs font-dokyo">SAMEDI</h2>
        <hr class="hr hidden-xs hidden-sm">
        <div class="row hidden-sm hidden-xs ">
            {% for lieu, progHeure in prog.SAMEDI %}
                <div class="col-md-2 hidden-sm hidden-xs">
                    <h3 class="planning-location font-circula">{{ lieu }}</h3>
                </div>

            {% endfor %}

        </div>
        <div class="row hidden-sm hidden-xs ">
            {% for lieu, progLieu in prog.SAMEDI %}
                <div class="col-md-2 hidden-sm hidden-xs col-lieu">
                    {% for heure, values in progLieu %}
                        <div class=" hidden-sm hidden-xs">
                            <a href="../../../../index.php?page=artist&id={{ values.artiste.id }}">
                            <div class="planning-show show-blue font-default {% if values.concert.status == 'canceled' %}planning-cancel{%endif%}"><p class="artist">{{ values.artiste.name }}<br/><span class="{% if values.concert.status == 'canceled' %}cancel-hidden{% endif %}">{{ heure }}</span></p>
                                {% if values.concert.status == 'canceled' %}
                                    <p class="plan-cancel font-dokyo">Annulé</p>
                                {% endif %}
                            </div><br/>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>



        <div class="row">
            <div class="visible-xs visible-sm">
                    <h2 class="separator-title">
                        <a class="planning-link font-dokyo" data-toggle="collapse" href="#collapseVENDREDI"
                           aria-expanded="false" aria-controls="collapseVENDREDI">VENDREDI</a>
                    </h2>
                    <hr class="hr-min">
                    <div class="collapse planning-collapse" id="collapseVENDREDI">
                        <div class="collapse-content">
                            {% for lieu, progLieu in prog.VENDREDI %}
                                <h4 class="planning-locationSmall font-dokyo">{{ lieu|upper }}</h4>
                                {% for heure, values in progLieu %}
                                    <a href="../../../../index.php?page=artist&id={{ values.artiste.id }}">
                                    <p class="planning-showSmall font-circula">
                                        <span class="turquoise font-circula bold
                                            {% if values.concert.status == 'canceled' %}cancel-hidden{% endif %}"
                                        >
                                            {{ heure }} :
                                        </span>
                                        {% if values.concert.status == 'canceled' %}
                                            <span class = "plan-cancel-xs font-dokyo">Annulé</span>
                                        {% endif %}
                                        <br/>
                                        {{ values.artiste.name }}
                                    </p>

                                    <br/>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    </div>
            </div>
        {% if progShow is not empty %}
        <div class="visible-xs visible-sm">
                <h2 class="separator-title">
                    <a class="planning-link font-dokyo" data-toggle="collapse" href="#collapseSHOWCASE"
                       aria-expanded="false" aria-controls="collapseSHOWCASE">SHOWCASES DU SAMEDI</a>
                </h2>
                <hr class="hr-min">
                <div class="collapse planning-collapse" id="collapseSHOWCASE">
                    <div class="collapse-content">
                        {% for lieu, progLieu in progShow %}
                            <h3 class="planning-locationSmall font-dokyo">{{ lieu|upper }}</h3>
                            {% for heure, values in progLieu %}
                                <a href="../../../../index.php?page=artist&id={{ values.artiste.id }}">
                                <p class="planning-showSmall font-circula">
                                        <span class="turquoise font-circula bold
                                            {% if values.showcase.status == 'canceled' %}cancel-hidden{% endif %}"
                                        >
                                            {{ heure }} :
                                        </span>
                                    {% if values.showcase.status == 'canceled' %}
                                        <span class = "plan-cancel font-dokyo">Annulé</span>
                                    {% endif %}
                                    <br/>
                                    {{ values.artiste.name }}
                                </p>
                                <br/>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="visible-xs visible-sm">
                <h2 class="separator-title">
                    <a class="planning-link font-dokyo" data-toggle="collapse" href="#collapseSAMEDI"
                       aria-expanded="false" aria-controls="collapseSAMEDI">SAMEDI</a>
                </h2>
                <hr class="hr-min">
                <div class="collapse planning-collapse" id="collapseSAMEDI">
                    <div class="collapse-content">
                        {% for lieu, progLieu in prog.SAMEDI %}
                            <h3 class="planning-locationSmall font-dokyo">{{ lieu|upper }}</h3>
                            {% for heure, values in progLieu %}
                                <a href="../../../../index.php?page=artist&id={{ values.artiste.id }}">
                                <p class="planning-showSmall font-circula">
                                        <span class="turquoise font-circula bold
                                            {% if values.concert.status == 'canceled' %}cancel-hidden{% endif %}"
                                        >
                                            {{ heure }} :
                                        </span>
                                    {% if values.concert.status == 'canceled' %}
                                        <span class = "plan-cancel font-dokyo">Annulé</span>
                                    {% endif %}
                                    <br/>
                                    {{ values.artiste.name }}
                                </p>
                                <br/>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}