{% extends "base.html.twig" %}
{% block title %}Planning{% endblock %}
{% block titleMobile %}Planning{% endblock %}
{% block content %}
    <div class="container text-center">
        {% for jourfr,progLieu in prog %}
            <h1 class="separator-title hidden-sm hidden-xs font-dokyo">{{ jourfr }}</h1>
            <hr class="hr hidden-xs hidden-sm">
            <div class="row hidden-sm hidden-xs ">
            {% for lieu, progHeure in progLieu %}
                <div class="col-md-2 hidden-sm hidden-xs">
                    <h3 class="planning-location font-circula">{{ lieu }}</h3>
                </div>

            {% endfor %}

            </div>
            <div class="row hidden-sm hidden-xs ">
            {% for lieu, progHeure in progLieu %}

                    <div class="col-md-2 hidden-sm hidden-xs col-lieu">

                        {% for heure, artist in progHeure %}
                            <div class=" hidden-sm hidden-xs">
                                <div class="planning-show show-blue font-default "><p>{{ artist.name }}<br/>{{ heure }}
                                    </p></div>
                                <br/>
                            </div>

                        {% endfor %}
                    </div>
            {% endfor %}
            </div>

        {% endfor %}
    <div class="row">
        <div class="visible-xs visible-sm">
            {% for jourfr,progLieu in prog %}
                <h1 class="separator-title">
                    <a class="planning-link font-dokyo" data-toggle="collapse" href="#collapse{{ jourfr }}"
                       aria-expanded="false" aria-controls="collapseVendredi{{ jourfr }}">{{ jourfr }}</a>
                </h1>
                <hr class="hr-min">
                <div class="collapse planning-collapse" id="collapse{{ jourfr }}">
                    <div class="collapse-content">
                        {% for lieu, progHeure in progLieu %}
                            <h3 class="planning-locationSmall font-dokyo">{{ lieu|upper }}</h3>
                            {% for heure, artist in progHeure %}
                                <p class="planning-showSmall font-circula">
                                    <span class="turquoise font-circula bold">{{ heure }} :</span><br/>{{ artist.name }}
                                </p>
                                <br/>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


        {% endblock %}