{% extends "base.html.twig" %}
{% block title %}Programmation{% endblock %}
{% block titleMobile %}PROG'{% endblock %}
{% block content %}
    <div>
    <div class="text-center">
        <form action="index.php" method="get">
            <div class="prog-dropdown styled-select blue semi-square font-bebas">
                <select {#class="select-attr"#} name="lieux">
                    <option value="-1" {% if -1 == lieuSelected %}selected="selected"{% endif %}>Lieux</option>
                    {% for place in places %}
                        <option value="{{ place.id }}" {% if place.id == lieuSelected %}selected="selected"{% endif %}>{{ place.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="prog-dropdown styled-select blue semi-square font-bebas">
                <select {#class="select-attr"#} name="day">
                    <option value="-1" {% if -1 == soirSelected %}selected="selected"{% endif %}>Jour</option>
                    <option value="15" {% if 15 == soirSelected %}selected="selected"{% endif %}>Vendredi Soir</option>
                    <option value="16" {% if 16 == soirSelected %}selected="selected"{% endif %}>Samedi Soir</option>
                </select>
                {#
                <button class="btn btn-default dropdown-toggle filter-btn font-circula" type="button" id="filter-days" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Soirs <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="filter-days">
                    <li><a href="../../../../index.php?page=programmation&day=15" class="font-circula">Vendredi Soir</a></li>
                    <li><a href="../../../../index.php?page=programmation&day=16" class="font-circula">Samedi Soir</a></li>
                </ul>
                #}
            </div>
            <div class="prog-dropdown styled-select blue semi-square font-bebas">
                <select {#class="select-attr"#} name="lcl">
                    <option value="-1" {% if -1 == localSelected %}selected="selected"{% endif %}>Artistes locaux</option>
                    <option value="1" {% if 1 == localSelected %}selected="selected"{% endif %}>Oui</option>
                    <option value="0" {% if 0 == localSelected %}selected="selected"{% endif %}>Non</option>
                </select>
                {#
                <button class="btn btn-default dropdown-toggle filter-btn font-circula" type="button" id="filter-local" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Groupes Locaux <span class="caret"></span></button>
                <ul class="dropdown-menu" aria-labelledby="filter-local">
                    <li><a href="../../../../index.php?page=programmation&lcl=1" class="font-circula">Oui</a></li>
                    <li><a href="../../../../index.php?page=programmation&lcl=0" class="font-circula">Non</a></li>
                </ul>
                #}
            </div>
            <input type="hidden" name="page" value="programmation" />
            <div>
            <input type="submit" class="btn-default contact-btn semi-square btn-filtre" name="btnSubmitSearch" Value="Rechercher" />
            </div>
        </form>
    </div>
    <div class="container">
        <hr class="hr">
        <div class="row">
            {% for artist in artists %}
                <div class="col-md-3 col-sm-6">
                    <a href="../../../../index.php?page=artist&id={{ artist.artist_id }}">
                        <div class="thumbnail thumbnail-div prog-artist text-center">
                            <img src="../../../web/img/artist/{{ artist.img_artist }}" class="img-responsive {% if artist.status == 'canceled' %}img-cancel{% endif %}">
                            <div class="content-div prog-info text-center">
                                <p class="info-text">{{ artist.name }}</p>
                                <hr class="hr-min">
                                <p class="info-text2">{{ artist.concert_start | localizeddate('long', 'short', 'fr', null, 'EEEE d MMM k:mm') }}</p>
                            </div>
                            {% if artist.status == 'canceled' %}
                                <h1 class="prog-cancel font-dokyo">Annulé</h1>
                            {% endif %}
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>
{% endblock %}
